<h2 style="text-align: center;"><b>Create Distributor</b></h2>
<form [formGroup]="createDistributorFormGroup" (ngSubmit)="onSubmit()">

    <div class="row">
        <label class="col-sm-4" for="emailId">Email Id: </label>
        <input class="col-sm-8" id="emailId" type="text" formControlName="emailId" required>
    </div>
    
    <div class="row">
        <label class="col-sm-4" for="first-name">First Name: </label>
        <input class="col-sm-8" id="first-name" type="text" formControlName="firstName" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="last-name">Last Name: </label>
        <input class="col-sm-8" id="last-name" type="text" formControlName="lastName" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="location">Location: </label>
        <input class="col-sm-8" id="location" type="text" formControlName="location" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="phoneNumber">Phone number: </label>
        <input class="col-sm-8" id="phoneNumber" type="text" formControlName="phoneNumber">
    </div>

    <div  style="text-align: center;width: 100%; margin-top: 10px;">
    <button  type="submit" class="btn btn-primary" style="width: 50%;" [disabled]="!createDistributorFormGroup.valid">Submit</button>
</div>

    
  </form>