<h2 style="text-align: center;"><b>Create Products</b></h2>
<form [formGroup]="createProductFormGroup" (ngSubmit)="onSubmit()">

    <div class="row">
        <label class="col-sm-4" for="productName">Product Name: </label>
        <input class="col-sm-8" id="productName" type="text" formControlName="productName" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="productDescription">Product Description: </label>
        <input class="col-sm-8" id="productDescription" type="text" formControlName="productDescription" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="units">Units: </label>
        <input class="col-sm-8" id="units" type="text" formControlName="units" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="quantity">Quantity: </label>
        <input class="col-sm-8" id="quantity" type="number" formControlName="quantity" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="supplierId">Supplier Name: </label>
        <select class="col-sm-8" id="supplierId" formControlName="supplierId">
            <option [value]="supplier.emailId" *ngFor="let supplier of suppliers; let i = index">{{supplier.firstName +
                " " + supplier.lastName}}</option>
        </select>
    </div>

    <div class="row">
        <label class="col-sm-4" for="perUnitPrice">Unit Price: </label>
        <input class="col-sm-8" id="perUnitPrice" type="text" formControlName="perUnitPrice">
    </div>

    <div  style="text-align: center;width: 100%; margin-top: 10px;">
    <button type="submit" style="width: 50%;" class="btn btn-primary" [disabled]="!createProductFormGroup.valid">Submit</button>
</div>


</form>