
<div class="grid-box">
  <div class="row">
    <div class="col-sm-8" >
      <h2 style="text-align: center;"><b>Supplier Info</b></h2>
      <table class="table" >
        <thead>
          <tr>
            <th>Email Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>location</th>
            <th>phone Number</th>
            <!-- <th>Edit</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers;let i = index ">
            <td>{{supplier.emailId}}</td>
            <td>{{supplier.firstName}}</td>
            <td>{{supplier.lastName}}</td>
            <td>{{supplier.location}}</td>
            <td>{{supplier.phoneNumber}}</td>
            <!-- <td><button class="btn btn-danger" (click)="editSupplier(supplier)">Edit</button></td> -->
          </tr>
        </tbody>
      </table>
      <div *ngIf="suppliers.length == 0" style="text-align: center;height: 100px; vertical-align: middle;">
        <p>No records..!</p>
      </div>
    </div>
    <div class="col-sm-4">
      <app-create-supplier></app-create-supplier>
    </div>
  </div>
</div>

