<h2 style="text-align: center;"><b>Create Supplier</b></h2>
<form [formGroup]="createSupplierFormGroup" (ngSubmit)="onSubmit()">

    <div class="row">
        <label class="col-sm-4" for="emailId"><b>Email Id: </b></label>
        <input class="col-sm-8" id="emailId" type="text" formControlName="emailId" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="first-name"><b>First Name: </b></label>
        <input class="col-sm-8" id="first-name" type="text" formControlName="firstName" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="last-name"><b>Last Name: </b></label>
        <input class="col-sm-8" id="last-name" type="text" formControlName="lastName" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="location"><b>Location: </b></label>
        <input class="col-sm-8" id="location" type="text" formControlName="location" required>
    </div>

    <div class="row">
        <label class="col-sm-4" for="phoneNumber"><b>Phone number: </b></label>
        <input class="col-sm-8" id="phoneNumber" type="text" formControlName="phoneNumber">
    </div>

    <div  style="text-align: center;width: 100%; margin-top: 10px;">
        <button type="submit" class="btn btn-primary" [disabled]="!createSupplierFormGroup.valid" style="width: 50%;">Submit</button>
    </div>



</form>